env/
venv/
.env/
.venv/
myvenv/
code/
db/
__pycache__/
*.py[cod]
*.class
*.log
*.pot
local_settings.py
db.sqlite3
.flake8
.pylintrc
.pylintrc.bak
.prettierrc.toml
pyproject.toml
note
todo.txt
query_debugger.py
.env
todo
test_fixture.json
test_fixture.json.bak
coffeshop_api/orders/migrations/*
coffeshop_api/goods/migrations/*
coffeshop_api/users/migrations/*
coffeshop_api/cart_test.py
coffeshop_api/order_create_test.py
services_diagram.drawio
coffeshop_api/.env
Картинки от нейросетки
