name: Run django tests and pytest

on:
    push:
        branches:
            - main
            - development

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            DJANGO_SETTINGS_MODULE: "core.settings.test"
        steps:
            - name: Check environment variables
              run: echo $DJANGO_SETTINGS_MODULE

            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Install dependencies
              run: |
                  pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Check environment variables
              run: echo $DJANGO_SETTINGS_MODULE

            - name: Run django migrations
              run: python ./coffeshop_api/manage.py makemigrations && python ./coffeshop_api/manage.py migrate

            - name: Run django tests
              run: python ./coffeshop_api/manage.py test ./coffeshop_api/

            - name: Run pytest
              run: pytest ./telegram_bot/tests/ -vvs
