name: Run django testst and pytest

on:
    push:
        branches:
            - main
            - development

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
            - uses: actions/checkout@v4
            - name: Setup Python
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
            - name: Install dependencies
            - run: pip install --upgrade pip
            - run: pip install -r requirements.txt
            - name: Run django tests
            - run: python ./coffeshop_api/manage.py test ./coffeshop_api/ --settings=core.settings.test
            - name: Run pytest
            - run: pytest ./telegram_bot/tests/ -vvs
